@{
    ViewData["Title"] = "Menu Principal";
    Layout = "_Layout";
}
@model BlackBelt.Models.Login

<p>
    Bem vindo!
</p>

@if (User.Identity.IsAuthenticated)
{
    <p>Bem-vindo, @User.Identity.Name</p>
}
