@model BlackBelt.Models.Login
@{
    ViewData["Title"] = "Menu Principal";
    Layout = "_Layout";
}

<p>
    Bem vindo!
</p>

@if (User.Identity.IsAuthenticated)
{
    <p>Bem-vindo, @User.Identity.Name</p>
}
