<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlackBelt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlackBelt.styles.css" asp-append-version="true" />
</head>

<style>
    .top-bar {
        color: #fff;
    }

      .top-bar a {
            color: #fff;
            margin-left: 1rem;
            text-decoration: none;
        }

            .top-bar a:hover {
                color: #adb5bd;
            }
</style>

<body>
    <header>
        <nav class="top-bar d-flex justify-content-between align-items-center px-4 py-2 navbar-dark bg-dark">
            <div class="d-flex align-items-center">
                <!-- Logo à esquerda -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="img/01.png" alt="Logo" height="60">
                    <span class="ms-3 text-white fw-bold fs-4">BLACK BELT</span>
                </a>
              
            </div>
            <!-- Links alinhados à direita e lado a lado -->
            <div class="d-flex">
                <a class="mx-2" asp-area="" asp-controller="Instrutor" asp-action="Index">🥋 Usuários</a>
                <a class="mx-2" asp-area="" asp-controller="ListadeAlunos" asp-action="index">📋 Lista de Alunos</a>
                <a class="mx-2" asp-area="" asp-controller="Relatorio" asp-action="Index">📊 Relatórios</a>
                <a class="mx-2" asp-area="" asp-controller="Home" asp-action="Index">🏃‍ Turmas</a>
                <a class="mx-2" asp-area="" asp-controller="RegistrarPresenca" asp-action="Index">🕓 Frequência</a>
                <a class="mx-2" asp-area="" asp-controller="Login" asp-action="Index">📤 Sair</a>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
