@{
    ViewData["Title"] = "Cadastrar Usuário";
    Layout = "_Layout";
}
@model BlackBelt.Models.Usuario
<form asp-action="CadastrarUsuario" asp-controller="Usuario" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Nome">
        <label for="Nome">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Cpf">
        <label for="Cpf">CPF</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" asp-for="Email">
        <label for="Email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Telefone">
        <label for="Telefone">Telefone</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" asp-for="Dt_Nascimento">
        <label for="Dt_Nascimento">Data de nascimento</label>
    </div>
    <div class="form-floating">
        <select class="form-select" asp-for="Tipo_Usuario">
            <option selected>Selecione o tipo</option>
            <option value="1">Administrador</option>
            <option value="2">Auxiliar</option>
            <option value="3">Instrutor</option>
        </select>
        <label for="floatingSelect">Tipo de Usuário</label>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Salvar</button>

</form>

<a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Voltar</a>

@{
}
