<div class="container">
    <h4>Tem certeza que deseja excluir o usuário da lista de usuários?</h4>
    <form asp-action="ExcluirUsuario" asp-controller="Usuarios" method="post">
        <input type="hidden" value="" />
        <button class="btn btn-primary" type="submit">Excluir</button>
    </form>

    <a class="mb-3 btn btn-dark" asp-action="Index" asp-controller="Usuarios">voltar</a>
</div>


@{
}
