@{
    ViewData["Title"] = "Usuários";
    Layout = "_Layout";
}

<a class="nav-link text-dark btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Cadastro">Cadastrar Usuário</a>

@model BlackBelt.Views.Usuarios.IndexModel
@{
}
