@model BlackBelt.Models.Turma

@{
    ViewData["Title"] = "Cadastrar Turma";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Turmas.css" />
}

<h1 class="text-center m-3">Cadastro de Turma</h1>

<div class="container form-wrapper">
    <form asp-action="CadastrarTurma" asp-controller="Turmas" method="post">
        <label for="Nome">Nome</label>
        <input type="text" id="Nome" class="form-control bg-white border border-dark rounded-pill" asp-for="Nome" />
        <span asp-validation-for="Nome" class="text-danger"></span>

        <label for="Id_Instrutor">Instrutor</label>
        <select id="Id_Instrutor" class="form-control bg-white border border-dark rounded-pill" asp-for="Id_Instrutor">
            <option selected>Selecione o instrutor</option>
            @if (ViewData["Instrutores"] != null)
            {
                var instrutores = ViewData["Instrutores"] as IEnumerable<BlackBelt.Models.Usuario>;
                foreach (var instrutor in instrutores)
                {
            <option value="@instrutor.Id">@instrutor.Nome</option>
                }
            }
        </select>
        <span asp-validation-for="Id_Instrutor" class="text-danger"></span>

        <label for="Horario">Horário</label>
        <input type="time" id="Horario" class="form-control bg-white border border-dark rounded-pill" asp-for="Horario" />
        <span asp-validation-for="Horario" class="text-danger"></span>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-cadastrar w-100">Cadastrar</button>
        </div>
    </form>
</div>

<div class="footer-btn ms-4">
    <a asp-action="Index" asp-controller="Turmas">
        <button class="btn btn-voltar">Voltar</button>
    </a>
</div>

@if (TempData["ErroCadastroTurma"] != null)
{
<script>
        alert('@TempData["ErroCadastroTurma"]');
</script>
}